/* PrintCalendarStyles.css */
.rbc-event {
    /*background: none !important;*/
    border: 1px solid !important;
    outline: none !important;
    padding: 0 !important;
}

.rbc-event-content {
    height: 100%;
    width: 100%;
}

.rbc-selected {
    background: none !important;
}

.rbc-event.rbc-selected {
    background: none !important;
    outline: none !important;
}

.rbc-event-label {
    display: none;
}

.rbc-today {
    background-color: transparent !important;
    color: inherit !important;
}
.rbc-month-row {
    display: inline-table !important;
    flex: 0 0 0 !important;
    /* min-height: 50px !important; */
    min-height: 15vh !important;
}
.print-cal-month {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    margin: 1rem 0;
}
.print-cal-week {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    margin: 1rem 0;
}
.print-cal-agenda {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    margin: 1rem 0;
}
.print-cal-page {
    page-break-after: always;
}